@charset 'utf-8';

* {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
		'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
		'Malgun Gothic', sans-serif;
}

body {
	background-color: #faa9ac;
	word-break: keep-all;
}

table {
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 1px;
	color: white;
}

th,
td {
	padding: 7px 5px;
	text-align: center;
	position: relative;
}

th {
	background-color: #751d23;
	font-weight: 600;
	font-size: 1em;
	padding: 10px;
}

td {
	height: 40px;
}

.time-column {
	background-color: #6f2328;
	color: white;
	font-weight: 500;
	font-size: 1em;
}

tr:nth-child(even) .time-column {
	background-color: #691218;
}

.class-cell {
	background-color: white;
	font-size: clamp(15px, 1.2vw, 1.15em);
	font-weight: 500;
}

.flying-lv0 {
	color: #525252 !important;
}

.flying-lv05 {
	color: #25b0ff !important;
}

.flying-lv05-easy {
	color: #55cdff !important;
}

.flying-lv07 {
	color: #5589ff !important;
}

.flying-lv1 {
	color: #ff5825 !important;
}

.low-flying {
	color: #ff71df !important;
}

.kids-flying {
	color: #ff9822 !important;
}

.therapy {
	color: #ff71a3 !important;
}

.inside-flow {
	color: #4ab851 !important;
}

.healing {
	color: #0f7916 !important;
}

.personal {
	color: #ab82ff !important;
}

.instructor {
	color: #ff5543 !important;
}

.empty-cell {
	background-color: #fff;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 2vw 3vw;
	width: 300px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 1.2em;
}

select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-family: inherit;
	font-size: 0.9em;
}

.modal-buttons button {
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	background-color: #093280;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	margin-top: 20px;
}

.modal-buttons button:last-child {
	background-color: #747474;
}

.class-cell {
	cursor: pointer;
}

.class-cell {
	color: #333333;
}

.save-button {
	display: block;
	width: 200px;
	margin: 40px 0 0 auto;
	padding: 15px 0;
	background-color: #292929;
	color: white;
	border: none;
	border-radius: 4px;
	font-family: inherit;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.2s;
}

.save-button:hover {
	background-color: #111;
}

.timetable-title {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 1em;
	margin: 30px 0;
	color: #fff;
}

.timetable-title em {
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
}

.timetable-title strong {
	font-weight: 800;
	font-size: 1.8em;
}

.sns-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 30px;
}

.sns-link a {
	height: 40px;
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}

.sns-link a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
